SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

SUPERADMIN_USERNAME=
SUPERADMIN_PASSWORD=

# misal ushin, bun domenler ele joq
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=  # tek usi saytlardan kelgen sorawlarga juwap qaytariw ushin

